@model sphelper_try1.Models.SeekAdvice

@{
    ViewBag.Title = "SeekAdvice";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <header class="seekadvice-header">
        <h2>Seek Advice</h2>
        <p>Please fill out this form to submit your inquiries. We will respond to you as soon as we can.</p>
    </header>

    <content >
        <div class="form-group">
            <div class="">
                <p> Select a lecturer to help you: </p>
                @Html.DropDownListFor(m => m.Lecturers, new SelectList(Model.Lecturers, "IT Studies"), new { @class = "form-control seekadvice-shadow" })
            </div>
        </div>

        <div class="form-group">
            <div>
                <p>Your concern</p>
                @Html.EditorFor(m => m.Title, "", new { htmlAttributes = new { @class = "form-control seekadvice-shadow" } })
            </div>
        </div>

        <div class="form-group">
            <div>
                <p>Please provide more details about your concern</p>
                @Html.TextAreaFor(m => m.Body, new { @class = "form-control seekadvice-shadow", @cols= 20, @rows = 17})
            </div>
        </div>

        <div class="form-group">
            <div>
                <input type="submit" value="Submit" class="btn button color-shadow"/>
            </div>
        </div>

    </content>

</div>

