@{
    ViewBag.Title = "SendMailMessage";
}


<br />  <br />  <br />

<h1 style="text-align:center">! Message sent successfully !</h1>
<br />  <br />


<p style="text-align:center">
    The Lecturer you picked will contact you
    as soon as possible.
    <br />

    Don't forget to check your email.
    since the SP Helper system will send to you
    information about solving the issue selected.
</p>
