@model sphelper_try1.Models.TableItemsSelectSubject

<tr>
    <td class="table-semgroup" colspan="3" height="24">
    Semester @Html.DisplayFor(model => model.Semester)
    </td>
</tr>
@Html.EditorFor(model => model.CheckItems)


