@model sphelper_try1.ViewModel.CrnVM
@{
    ViewBag.Title = "SelectSubjectForCRN";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("Index", "CRN"))
{
    <div>
        <header>
            <h1>Select Subject</h1>
            <div>
                <p class="studyplan-p">@Html.DisplayFor(model => model.Name), select subjects for your studyplan: <br></p>
            </div>
        </header>
        <br>

        <content>
            <table class="table table-bordered">
                <tr>
                    <th>Subject</th>
                    <th>Subject Description</th>
                    <th>Status</th>
                </tr>

                @*reusable table template*@
                <tbody>
                    @Html.DisplayFor(model => model.TableItemsSelectSubject)
                </tbody>
                <tfoot><tr><td colspan="3" class="footer-align">End</td></tr></tfoot>
            </table>

            <div>
                <div class="form-group">
                    <div class="col-sm-12">
                        @Html.HiddenFor(model => model.QualCode)
                        <input type="submit" value="Get CRN" class="btn button color-shadow" />
                    </div>
                </div>
            </div>
            <br>
        </content>
        <div class="buff4"></div>
    </div>
}

