body {
    /*padding-top: 50px;*/
    padding-bottom: 20px;
    /*font-size: 1em;*/
    
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    /*width: 280px;*/
}

header:after{
    margin-bottom: 2em;
}

.navbar-style {
    border-bottom: 1px solid #c4c4c4;
    border-top: none;
    border-left: none;
    border-right: none;
    background-color: white;
} 

.logo {
    font-weight: bold;
    background: -webkit-linear-gradient(235deg, #ff0000, #be1428);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.buff {
    height: 50px;
}

h2 {
    font-weight: bold;
}

.nav-a {
    color: #000000;
}

.login-container {
    height: 70vh;
    padding-top: 4em;
    font-size: 1em;
}

.index-container {
    padding-top: 0;
}

.index-container h1{
    font-weight: bold;
    margin-bottom: 20px;
}

.login-container p {
    font-size: 0.9em;
}

.textfields {
    padding: 1.5em 0;
}

.validation {
    font-size: 0.8em;
    color: #ff0000;
}

.button {
    /*position: absolute;*/
    height: 42px;
    width: 100%;
}

.color-shadow {
    background: linear-gradient(135deg,#ff0000,#be1428);
    color: white;
    border-radius: 15px;
    font-size: 1em;
    box-shadow: 4px 2px 8px 1px rgba(190,20,40, 0.6);
    -moz-box-shadow: 4px 2px 8px 1px rgba(190,20,40, 0.6);
}

.transparent-shadow {
    background: white;
    color: black;
    border-radius: 20px;
    border: 1px solid #ff0000;
    font-size: 1em;
    box-shadow: 2px 2px 4px 0.25px rgba(190,20,40, 0.4);
    -moz-box-shadow: 2px 2px 4px 0.25px rgba(190,20,40, 0.4);
}

.buttom-btn {
    display: inline-block;
    width: 15%;
    height: 32px;
    height: 48px;
    padding: 16px 8px;
    text-align: center;
}
.transparent-shadow-red {
    background: linear-gradient(135deg,#ff0000,#be1428);
    border-radius: 15px;
    font-size: 1em;
}

.transparent-shadow-red:hover {
   box-shadow: 4px 2px 8px 1px rgba(190,20,40, 0.6);
    -moz-box-shadow: 4px 2px 8px 1px rgba(190,20,40, 0.6);
}

.transparent-shadow-red a {
    color: white;
}
.transparent-shadow-red a:hover {
    color: white;
    
}

.transparent-shadow-white {
    background: white;
    border: 1px solid #ff0000;
    color: #ff0000;
    border-radius: 15px;
    font-size: 1em;
    margin-right: 1%;
    margin-left: 68.4%;
}

.transparent-shadow-white:hover {
    box-shadow: 4px 2px 8px 1px rgba(190,20,40, 0.6);
    -moz-box-shadow: 4px 2px 8px 1px rgba(190,20,40, 0.6);
}

.transparent-shadow-white a {
    color: #ff0000;
}

.transparent-shadow-white a:hover {
        color: #ff0000;
        
    }
    

.seekadvice-shadow {
    height: 3em;
    border-radius: 15px;
    border: 1px solid #ccc;
    padding: 0.5em 1em;
    margin-bottom: 2em;
}

.seekadvice-shadow:focus {
    box-shadow: none;
    outline: none;
    border: 2px solid #ff0000;
    box-shadow: 1px 2px 5px 0.5px rgba(190,20,40, 0.4);
    animation: ease;
}

.textarea:focus {
    box-shadow: none;
    outline: none;
    border-bottom: 2px solid #ff0000 ;
}

.seekadvice-header {
    margin-bottom: 2em
}

.home-header {
    padding: 0 0 32px 0;
}

.home-header h1 {
    margin-top: 0;
    font-weight: bold;
}

.home-jumbotron {
    margin-bottom: 2.5em;
    /*padding: 2em;*/
}

.middle {
    margin: 0 4.4%;
}

.jumbotron-text {
    display: block;
    padding: 1em;
    color: white;
    height: 118px;
    font-size: 1.4em;
}

.home-rows {
    /*margin-bottom: 1.5em;*/
    display: inline-block;
    width: 30%;
    text-align: center;
}

.home-left {
    margin-right: 5%;
}
.home-right {
    margin-left: 5%;
}

.home-arrow 
{
    width: 1.2em;
    margin-left:80%
}

.jumbotron-arrow {
    width: 3%;
    margin-left: 92%;
    padding: 4.6% 0;
    display: block;
}

.home-actionlink {
    color: black;
    font-size: 1.2em;
    display: block;
    padding: 2em 0;
}

.home-actionlink:hover{
    text-decoration: none;
    color: black;
}

.home-actionlink-big {
    color: white;
    font-size: 1.2em;
    display: block;
    padding: 1em;
}

.home-actionlink-big:hover {
    text-decoration: none;
    color: white;
}



.buff2 {
    padding-bottom: 5em;
}

.buff3 {
    padding-bottom: 0.8em;
}

.buff4 {
    height: 100px;
}

.table-semgroup {
    background: #E5E5E5;
    text-align: center;
    color: #be1428;
    line-height: 0.4em;
    padding: 0;
}

.studyplan-h1 {
    
}

.studyplan-p {
    margin-bottom: 6px;
}

.studyplan-ddl select {
    display: inline-block;
    width: 85%;
}

.studyplan-ddl p {
    display: inline-block;
    width: 14%;
    /*margin-right: 3%;*/
}


.studyplan-pqual {
    margin-bottom: 6px;
    font-weight: bold;
    font-size: 1.2em;
    padding: 0;
}

.studyplan-status {
    text-align: center;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
}

select::-ms-expand {
    display: none;
}

.desc {
    font-size: 0.8em;
    margin-bottom: 0.8em;
}

/*.checkboxitem input {
    position: absolute;
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}*/

.checkboxitem input[type="checkbox"] {
    -webkit-appearance: none;
    width: 16px;
    height: 16px;
    border: 1px solid #ff0000;
    margin-left: 30%;
    border-radius: 100px;
    display: inline-block;
    position: relative;
}

.checkboxitem input[type="checkbox"]:checked {
    background-color: #ff0000;
    border: 1px solid #ff0000;
    border-radius: 100px;
}


.checkboxitem input[type="checkbox"]:checked:after {
	content: '\2714';
    font-size: 12px;
    position: absolute;
    top: -2px;
    left: 2px;
    color: white;
}

.cross-btn {
    height: 16px;
    width: 16px;
}

.footer-align {
   text-align: center
}

.dropdown {
    height: 3em;
    border-radius: 15px;
    border: 1px solid #ccc;
    padding: 0.5em 1em;
    font-size: 0.8em;
}

.dropdown:focus {
    box-shadow: none;
    outline: none;
    border: 2px solid #ff0000;
    box-shadow: 1px 2px 5px 0.5px rgba(190,20,40, 0.4);
    animation: ease;
}


@media screen and (max-width: 480px) {
    h1 {
       font-size: 24px;
       margin: 1em 0;
       font-weight: bold;
   }

   p {
       font-size: 1em !important;
   }

    .studyplan-ddl select {
        display: inline-block;
        width: 63%;
        height: 2.5em;
    }

    .studyplan-ddl p {
        display: inline-block;
        width: 35%;
        /*margin-right: 3%;*/
}

    .buttom-btn {
        width: 47%;
        margin-left: 0;
    }

    .crn-button {
        position: absolute;
        bottom: 0;
        width: 93%;
        padding: 16px 0;
    }

    .transparent-shadow-white {
        box-shadow: 4px 2px 8px 1px rgba(190,20,40, 0.6);
        -moz-box-shadow: 4px 2px 8px 1px rgba(190,20,40, 0.6);
    }

    .transparent-shadow-red {
        box-shadow: 4px 2px 8px 1px rgba(190,20,40, 0.6);
        -moz-box-shadow: 4px 2px 8px 1px rgba(190,20,40, 0.6);
    }

    .jumbotron-arrow {
        width: 5%;
        margin-left: 89%;
        padding: 6% 0;
        display: inline-block;
    }
    .home-rows {
        margin-bottom: 1.5em;
        display: block;
        width: 100%;
        text-align: left;
    }

    .home-actionlink {
        padding: 16px;
    }

    .middle {
        margin-left: 0;
        margin-right: 0;
    }
}

